.wordarea{
    height:100vh;
    padding:0.5rem 1rem;
}
.wordarea--dark{
    background:black;
    color:white;
}

.wordarea .slider{
    position:absolute;
    bottom:10px;
    right:10px;
}
.worddisplay{
    position:absolute;
    left:50%;
    top:30%;
    transform:translateX(-50%);
    text-align: center; 
}
.worddisplay .playControls{
    margin-top:1rem;
    display:inline-flex;
    width:15rem;
}
.playControls .btn:first-child{
    margin-right:auto;
}
.playControls .btn:last-child{
    margin-left:auto;
}
.worddisplay .words{
    font-size:3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}